[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/parson"]
	path = external/parson
	url = https://github.com/kgabis/parson.git
[submodule "external/uthash"]
	path = external/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "external/klib"]
	path = external/klib
	url = https://github.com/attractivechaos/klib.git
[submodule "external/box2d"]
	path = external/box2d
	url = git@github.com:erincatto/box2d.git
